<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Control Transporte</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <script src="/js/taxi.js"></script>
</head>
<style>

    .contenedor{

    margin : 30px 30px 30px 30px;

    height: 780px;
    }

    #botones{
    text-align: center;
    }


</style>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Menú</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active" th:each="navegacion: ${navegaciones}">
                <a class="nav-link" th:href="${navegacion.pagina}" id="control-mapa"   th:text="${navegacion.modulo}"></a>
            </li>
        </ul>
    </div>
</nav>
<div class="contenedor">
        <table class="table table-borders">
        <thead>
        <tr>
            <th scope="col">Origen</th>
            <th scope="col">Destino</th>
            <th scope="col">Fecha Solicitud</th>
            <th scope="col">Fecha de Entrega</th>
            <th scope="col">Estado</th>
        </tr>
        </thead>
        <tbody id="body-control-transporte">

        </tbody>
    </table>
</div>
<div id="botones">
    <button  class='previous btn back'  type='button'><i class="bi bi-arrow-left-circle-fill"></i></button>
    <button  class='next  btn ' type='button' ><i class="bi bi-arrow-right-circle-fill"></i></button>
</div>
</body>
</html>