<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Usuario</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/dataTables.bootstrap4.min.css">
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://editor.datatables.net/extensions/Editor/js/dataTables.editor.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.7.0/js/dataTables.buttons.min.js"></script>
    <script src="/js/empleado.js"></script>
</head>
<style>

    #form-usuario{
    margin : 30px 30px 30px 30px;
    }

    .contenedor{
    margin : 30px 30px 30px 30px;
    }


</style>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Menú</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">

        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active" th:each="navegacion: ${navegaciones}">
                <a class="nav-link" th:href="${navegacion.pagina}" id="control-mapa"   th:text="${navegacion.modulo}"></a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <a type="button" href="cerrar" class="btn btn-outline-dark my-2 my-sm-0" id="btn-cerrar" style="color:white;">Cerrar</a>
        </form>
    </div>
</nav>
<form id="form-usuario">
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="nombre">Nombre</label>
            <input type="text" class="form-control" id="nombre" placeholder="Nombre" required>
        </div>
        <div class="form-group col-md-4">
            <label for="apellido_paterno">Apellido Paterno</label>
            <input type="text" class="form-control" id="apellido_paterno" placeholder="Apellido Paterno" required>
        </div>
        <div class="form-group col-md-4">
            <label for="apellido_materno">Apellido Materno</label>
            <input type="text" class="form-control" id="apellido_materno" placeholder="Apellido Materno" required>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="dni">DNI</label>
            <input type="number" class="form-control" id="dni" placeholder="DNI" required>
        </div>
        <div class="form-group col-md-2">
            <label for="cargo">Cargo</label>
            <select id="cargo" class="form-control"  required>
                <option th:each="cargo: ${cargos}" th:value="${cargo.id}" th:text="${cargo.cargo}"></option>
            </select>
        </div><div class="form-group col-md-2">
            <label for="edad">Edad</label>
            <select id="edad" class="form-control"  required>
                <option th:each="edad: ${edades}"  th:value="${edad}" th:text="${edad}"></option>
            </select>
        </div>
        <div class="form-group col-md-4">
            <label for="correo">Correo Electronico </label>
            <input type="email" class="form-control" id="correo" placeholder="Correo Electronico" required>
        </div>
    </div>
    <button id="btn-submit" type="submit" class="btn btn-primary">Registrar</button>
</form>
<div class="contenedor">
    <table id="table-empleado" class="table table-striped table-bordered" style="width:100%">
    </table>
</div>
<div id="alerta-registro" class="alert alert-success">
    <strong>Registrado ..!</strong>
</div>

<script>


    $(document).ready(function(){

         $("#alerta-registro").hide();

        $(document).on("click", ".btnEditar", function(){
                $('#btn-submit').text("Actualizar");
                var fila = $(this).closest("tr");
                var dni = fila.find('td:eq(3)').text();
                $('#nombre').val(fila.find('td:eq(0)').text());
                $('#apellido_paterno').val(fila.find('td:eq(1)').text());
                $('#apellido_materno').val(fila.find('td:eq(2)').text());
                $('#dni').val(fila.find('td:eq(3)').text());
                $("#edad option[value='"+fila.find('td:eq(4)').text()+"']").attr("selected", true);
                $('#correo').val(fila.find('td:eq(5)').text());
                $("#cargo option[value='"+fila.find('td:eq(6)').text()+"']").attr("selected", true);
            });



             var peticion = {
              "ape_mat": $("#apellido_materno").val(),
              "ape_pat": $("#apellido_paterno").val(),
              "dni": $("#dni").val(),
              "edad": $("#edad").val(),
              "email": $("#correo").val(),
              "estado": 0,
              "id_cargo": $("#cargo").val(),
              "nombre": $("#nombre").val()
            };

             $('#btn-submit').click(function(){
             console.log("entro")
              fetch('/api/empleado/guardar', {
                 method: 'POST',
                 body: JSON.stringify(peticion),
                 headers: {
                   "Content-type": "application/json",
                   'Access-Control-Allow-Origin': '*',
                  }
                 })
                .then(response => response.json())
                .then(function(data){
               console.log(data);

            });


            $('#btn-submit').text("Registrar");
             });




            function alertaRegistroShow() {
                $("#alerta-registro").show();
            }

             function alertaRegistroHide() {
                $("#alerta-registro").hide();
            }
    });


</script>
</body>
</html>